configure
config.h
config.h.in
Makefile
Makefile.in
.deps/
.libs/
*.la
*.lo
*.o
*.pyc
.bzr
freeipa2-dev-doc
build
dist/
RELEASE
daemons/AUTHORS
daemons/COPYING
daemons/ChangeLog
daemons/INSTALL
daemons/NEWS
daemons/README
daemons/aclocal.m4
daemons/autom4te.cache/
daemons/config.guess
daemons/config.log
daemons/config.status
daemons/config.sub
daemons/depcomp
daemons/install-sh
daemons/ipa-version.h
daemons/libtool
daemons/ltmain.sh
daemons/missing
daemons/stamp-h1
install/AUTHORS
install/COPYING
install/ChangeLog
install/INSTALL
install/NEWS
install/README
install/aclocal.m4
install/autom4te.cache/
install/config.log
install/config.status
install/install-sh
install/missing
install/stamp-h1
install/po/test.po
install/po/test_locale/xh_ZA/LC_MESSAGES/ipa.mo
install/ui/test/results
ipa-client/COPYING
ipa-client/ChangeLog
ipa-client/INSTALL
ipa-client/aclocal.m4
ipa-client/autom4te.cache/
ipa-client/config.guess
ipa-client/config.log
ipa-client/config.status
ipa-client/config.sub
ipa-client/depcomp
ipa-client/install-sh
ipa-client/ipa-client.spec
ipa-client/ipa-getkeytab
ipa-client/ipa-join
ipa-client/ipa-rmkeytab
ipa-client/libtool
ipa-client/ltmain.sh
ipa-client/missing
ipa-client/py-compile
ipa-client/stamp-h1
ipa-client/version.m4
freeipa.spec
ipapython/setup.py
ipapython/version.py
version.m4
ipapython/services.py
