wheel

sphinx > 3.0
sphinx-book-theme

# convert markdown to rest
# m2r2 fork is active in development and works with
# newer sphinx versions
# Do not use recent m2r2 version because of
# https://codeberg.org/freeipa/freeipa/issues/10068
m2r2 < 1.0.0

## ipa dependencies
dnspython
jwcrypto
ifaddr
netaddr
qrcode
six
pyasn1
pyasn1-modules
requests

## C libraries with binary wheels
cffi
cryptography
lxml

## C libraries without binaries wheels
# gssapi
# dbus-python
# python-ldap

## No sufficient PyPI packages
# dogtag-pki

# Sequence diagrams generator
sphinxcontrib-plantuml
pillow
