{% raw -%}
{% import "openssl_macros.tmpl" as openssl -%}
{% endraw -%}
[ req ]
prompt = no
encrypt_key = no

{{ parameters|join('\n') }}
{% raw %}{% set rendered_extensions -%}{% endraw %}
{{ extensions|join('\n') }}
{% raw -%}
{%- endset -%}
{% if rendered_extensions -%}
req_extensions = {% call openssl.section() %}{{ rendered_extensions }}{% endcall %}
{% endif %}
{{ openssl.openssl_sections|join('\n\n') }}
{%- endraw %}
