<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Automatically set browser preferences</title>
  <style type="text/css">
  body {
    font-family:"Liberation Sans",Arial,Sans;
    font-size:11px;
  }
  .textblock {
    text-align: left;
    margin-top: 1.0em;
    font-size: 1.1em;
  }
  a {
    color: #1D85D5;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
  }
  </style>
</head>
<body>
<form action="undefined" method="get">
<input id="button" type=button onclick="setPreferences()" name="prefs" value="Configure Firefox">
<div id="success" class="textblock" style="display: none;">
  <p>Browser configured.</p>
  <p>
    <a href="/ipa/ui" id="redirect_link" target="_top">Click here to return to the Web UI.</a>
  </p>
</div>
</form>

<script type="text/javascript">
  function setPreferences() {
    var privilege, setIntPref, setCharPref, setBoolPref;

    if (typeof navigator.preference == 'undefined') {
      // From Firefox 4 and SeaMonkey 2.1, navigator.preference intefrace is dropped
      // Use new Gecko2 Services.jsm JavaScript code module instead.
      privilege = 'UniversalXPConnect';
      netscape.security.PrivilegeManager.enablePrivilege(privilege);
      Components.utils.import("resource://gre/modules/Services.jsm");

      setIntPref = function(par, val) {Services.prefs.setIntPref(par, val)};
      setCharPref = function(par, val) {Services.prefs.setCharPref(par, val)};
      setBoolPref = function(par, val) {Services.prefs.setBoolPref(par, val)};
    } else {
      privilege = 'UniversalPreferencesWrite';
      netscape.security.PrivilegeManager.enablePrivilege(privilege);
      setCharPref = function(par, val) {navigator.preference(par, val)};
      setBoolPref = setCharPref;  // same function for bool and char and int
      setIntPref = setCharPref;
    }

    try {

      try {
        setIntPref('network.http.sendRefererHeader', 2);
        setBoolPref('network.negotiate-auth.using-native-gsslib', true);
        setCharPref('network.negotiate-auth.trusted-uris', '.$DOMAIN');
        setBoolPref('network.negotiate-auth.allow-proxies', true);
      } catch (e) {
        alert("Unable to store preferences: " + e);
        return;
      }

      netscape.security.PrivilegeManager.disablePrivilege(privilege);

      alert("Successfully configured Firefox for single sign-on.");

      var redirect_link = document.getElementById('redirect_link');
      redirect_link.href = "https://" + location.hostname + location.port + "/ipa/ui";

      var button = document.getElementById('button');
      button.style['display'] = "none";

      var successDiv = document.getElementById('success');
      successDiv.style['display'] = "block";
    } catch (e) {
      alert("Unable to apply recommended settings.\n\n" +
            "Click on the Certificate Authority link and select trust for all, " +
            "then reload this page and try again.\n\nThe error returned was: " + e);
      return;
    }
  }
</script>

</body>
</html>
