<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>From</title>

    <link rel="stylesheet" type="text/css" href="jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="ipa.css" />
</head>
<body>
<div id="contents">
    Rule applies when access is being initiated from:
    <input type="radio" name="sourcehostcategory" value="all"/>Any Host
    <input type="radio" name="sourcehostcategory" value=""/>Specified Hosts and Groups
    <br/>

    <div id="hbac-sourcehost_host">
    <table class="search-table">
    <thead>
        <tr>
            <th style="width: 25px;">
                <input type="checkbox" name="select"/>
            </th>
            <th>
                <span style="float: left;">Host</span>
                <span name="buttons" style="float: right;">
                    <input type="button" name="remove" value="Remove Hosts"/>
                    <input type="button" name="add" value="Add Hosts"/>
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="checkbox" name="select" value="host"/>
            </td>
            <td>
                <span name="sourcehost_host">host</span>
            </td>
        </tr>
    </tbody>
    </table>
    </div>

    <div id="hbac-sourcehost_hostgroup">
    <table class="search-table">
    <thead>
        <tr>
            <th style="width: 25px;">
                <input type="checkbox" name="select"/>
            </th>
            <th>
                <span style="float: left;">Host Group</span>
                <span name="buttons" style="float: right;">
                    <input type="button" name="remove" value="Remove Host Groups"/>
                    <input type="button" name="add" value="Add Host Groups"/>
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="checkbox" name="select" value="hosts"/>
            </td>
            <td>
                <span name="sourcehost_hostgroup">hosts</span>
            </td>
        </tr>
    </tbody>
    </table>
    </div>
</div>
</body>
</html>