<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>When</title>

    <link rel="stylesheet" type="text/css" href="jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="ipa.css" />
</head>
<body>
<div id="contents">
    Rule applies when access is being requested at:
    <input type="radio" name="accesstime" value="all"/>Any Time
    <input type="radio" name="accesstime" value=""/>Specified Times
    <br/>

    <div id="hbac-accesstime">
    <table class="search-table">
    <thead>
        <tr>
            <th style="width: 25px;">
                <input type="checkbox" name="select"/>
            </th>
            <th>
                <span style="float: left;">Access Time</span>
                <span name="buttons" style="float: right;">
                    <input type="button" name="remove" value="Remove Access Times"/>
                    <input type="button" name="add" value="Add Access Times"/>
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="checkbox" name="select" value="time"/>
            </td>
            <td>
                <span name="accesstime">time</span>
            </td>
        </tr>
    </tbody>
    </table>
    </div>
</div>
</body>
</html>