<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Accessing</title>

    <link rel="stylesheet" type="text/css" href="jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="ipa.css" />
</head>
<body>
<div id="contents">
    Rule applies when access is requested to:
    <span name="hostcategory">
        <input type="radio" name="hostcategory" value="all"/>Any Host
        <input type="radio" name="hostcategory" value=""/>Specified Hosts and Groups
        <span name="undo" class="ui-state-highlight ui-corner-all" style="display: none;">undo</span>
    </span>
    <br/>

    <span name="memberhost_host">
    <table class="search-table">
    <thead>
        <tr>
            <th style="width: 25px;">
                <input type="checkbox" name="select"/>
            </th>
            <th>
                <span style="float: left;">Host</span>
                <span name="buttons" style="float: right;">
                    <input type="button" name="remove" value="Remove Hosts"/>
                    <input type="button" name="add" value="Add Hosts"/>
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="checkbox" name="select" value="host"/>
            </td>
            <td>
                <span name="memberhost_host">host</span>
            </td>
        </tr>
    </tbody>
    </table>
    </span>

    <span name="memberhost_hostgroup">
    <table class="search-table">
    <thead>
        <tr>
            <th style="width: 25px;">
                <input type="checkbox" name="select"/>
            </th>
            <th>
                <span style="float: left;">Host Group</span>
                <span name="buttons" style="float: right;">
                    <input type="button" name="remove" value="Remove Host Groups"/>
                    <input type="button" name="add" value="Add Host Groups"/>
                </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="checkbox" name="select" value="hostgroups"/>
            </td>
            <td>
                <span name="memberhost_hostgroup">hostgroups</span>
            </td>
        </tr>
    </tbody>
    </table>
    </span>
</div>
</body>
</html>