<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>General</title>

    <link rel="stylesheet" type="text/css" href="jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="ipa.css" />
</head>
<body>
<div id="contents">
    <table style="width: 100%; border: 0 solid black;">
    <tr>
        <td style="width: 100px; text-align: right;">
            Name:
        </td>
        <td>
            <span name="cn">
                <input type="text" name="cn" size="30"/>
                <span name="undo" class="ui-state-highlight ui-corner-all" style="display: none;">undo</span>
            </span>
        </td>
    </tr>
    <tr>
        <td style="text-align: right; vertical-align: top;">
            Description:
        </td>
        <td>
            <span name="description">
                <textarea name="description" rows="5" style="width: 100%;" cols="40"></textarea>
                <span name="undo" class="ui-state-highlight ui-corner-all" style="display: none;">undo</span>
            </span>
        </td>
    </tr>
    <tr>
        <td style="text-align: right; vertical-align: top;">
            Rule status:
        </td>
        <td>
            <span name="ipaenabledflag">
                <input type="radio" name="ipaenabledflag" value="TRUE"/>Active
                <input type="radio" name="ipaenabledflag" value="FALSE"/>Inactive
                <span name="undo" class="ui-state-highlight ui-corner-all" style="display: none;">undo</span>
            </span>
        </td>
    </tr>
    </table>
</div>
</body>
</html>
