/*
 * Quick mash-up of CSS for the TG quick start page.
 */

html, body {
  color: #000;
  background:#fff;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  min-width: 750px;
}

#page {
  background:#ccc;   /* should be same as #sidebar */
  margin:0 auto;
  width:100%;
  clear:both;
}


#header {
  background:#fff;
}

#header #logo {
  float:left;
}

#header #headerinfo {
  text-align:right;
  padding-right:10px;
}

#header #headerinfo #login {
}

#header #headerinfo #topsearch {
  padding-top: 15px;
}

.searchtext {
  background-color:#E5F1F4;
  border:1px solid #8E8E8E;
  color:#444444;
}


#nav {
  background:#cc0000;
  color:#fff;
  min-height:3px;
  max-height:3px;
}

#nav ul {
  margin:0;
  padding:0;
  list-style:none;
}

#nav li {
  display:inline;
}

#nav a:visited {
  color:#fff;
}
#nav a:link {
  color:#fff;
}


#main_content {
  background:#fff;
  float:right;
  width:82%;
  min-height:500px;
  border-left: 1px solid #000;
  padding: 10px;
}

#main_content h1,h2 {
  margin-top: 0px;
  margin-bottom: 5px;
}


#sidebar {
  background:#ccc;  /* should be same as #page */
  float:left;
  width:13%;
  padding: 5px;
  font-size: medium;
}

#sidebar p {
  line-height: 150%;
}

#sidebar h2 {
  margin-top: 0;
}

#sidebar ul {
  margin-left: 1.5em;
  padding-left: 0;
}

#sidebar a:visited,
#sidebar a:link {
  color:#000;
}


#footer {
  background:#fff;
  clear:both;
  border-top: 1px solid #000;
  padding-top: 10px;
  text-align: center;
  font-size: x-small;
}

#footer a:visited,
#footer a:link {
  color:#777;
  text-decoration: none;
}


.formsection {
  color: #888888;
  width: 90%;
  font-weight: bold;
  border-bottom: 1px solid;
  margin: 20px 0px 20px 0px;
}

.formtable {
  width: 90%;
}

.formtable th {
  width: 20%;
  text-align: right;
}

.floatlist {
  float: right;
  width: 50%;
}

.floatheader {
  color: #885555;
  font-weight: bold;
}

.small {
  font-size: small;
}

.xsmall {
  font-size: x-small;
}

#status_block {
  margin: 0 auto 0.5em auto;
  padding: 15px 10px 15px 55px;
  background: #ecc;
  border: 1px solid #c99;
  width: 450px;
  font-size: 120%;
  font-weight: bolder;
}

.warning_message {
  font-size: 120%;
  color: #ee0000;
  font-weight: bolder;
}

.fielderror {
  color: red;
  font-weight: bold;
}

.requiredfield {
  background: #eebbbb;
}

#resultstable,
#resultstable th,
#resultstable td {
  border-collapse: collapse;
  border-style: solid;
  border-width: 1px;
  margin: 0px;
  padding: 5px;
}

#resultstable th {
  background: #eee;
}

.deletebutton {
  background: #ee2222;
}

/*
 * Used for checkboxlist of aci attributes
 */
ul.requiredfield {
  background: #ffffff;
}

ul.checkboxlist {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

/*
 * TableKit css
 */

.sortcol {
  cursor: pointer;
  padding-right: 20px !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;
}
.sortasc {
  background-image: url(/static/images/up.gif) !important;
}
.sortdesc {
  background-image: url(/static/images/down.gif) !important;
}
.nosort {
  cursor: default;
}

th.resize-handle-active {
  cursor: e-resize;
}

div.resize-handle {
  cursor: e-resize;
  width: 2px;
  border-right: 1px dashed #1E90FF;
  position:absolute;
  top:0;
  left:0;
}

