* 
{
  margin: 			0;
  padding:			0;
}

html, body {
  height:			100%;
}

body {
  background-image:		url('/static/images/template/background.png');
  background-repeat:		repeat-x;
  background-color:		#f9f9f9;
  margin:			0px;
  padding:			0px;
  padding-top:			8px;
  min-width:			750px;
}

body, h1, h2, h3, h4, h5, p, ul, li, div, span {
  font-family:			"Luxi Sans", "Gill Sans", "Verdana", "Helvetica", sans-serif;
  font-size:			small;
  color:			#444;
}

#head {
  margin:			0px;
  padding:			0px;
  padding-left:			12px;
} 

#head h1 a {
  display:			block;
  text-indent:			-9999px;
  height:			54px;
  width:			350px;
  overflow:			hidden;
  float:			left;

  background:			url('/static/images/branding/logo.png') no-repeat;
}

#searchbar {
  float: 			right;
  margin-right: 		24px;
  margin-top: 			18px;
}

#navbar {
  width: 			100%;
  height: 			64px;
  margin: 			0px;
  clear:			both;

  background-image:		url('/static/images/template/background-navbar.png');
  background-repeat:		repeat-x;

}

#navbar ul {
  margin:			0px;
  padding:			0px;
  padding-left:			10px;
  list-style:			none;
}

#navbar li {
  float:			left;
  margin:			0px;
  padding:			0px;
  
  font-size:			small;
}

#navbar a {
  display:			block;
  margin:			22px 15px;
}

#navbar .active {
  background-image:		url('/static/images/template/background-navbar-active.png');
  height:			70px;
  width:			116px;

  text-align:			center;
}

#login {
  float:			right;
  padding-top:			15px;
  padding-right:		10px;
}

#content {
  width:			100%;
  min-height:			50%;

  background-color:		#f9f9f9;
  background-image:		url('/static/images/template/background-content.png');
  background-repeat:		repeat-x;
}

#details {
  height: 			100%;
  margin:			0px 24px;
  margin-right:			300px;
  padding:			18px 18px;
  padding-bottom: 		12%;
  border-top:			1px solid #bbdc5f;
  background-color:		white;
  text-align:			left;
}

#details p {
  margin-top:			1ex;
  margin-bottom:		1ex;
}

#sidebar {
  width:			250px;
  text-align:			left;
  
  padding:			18px 13px;
  margin-right:			24px;
  float:			right;
  height:			100%;

  border:			1px solid #aaa;
  background-color:		#ccc;
  background-image:		url('/static/images/template/background-sidebar.png');
  background-repeat:		repeat-y;
}

#sidebar h1, h2, h3 {
  padding:			0px;
  margin:			0px;
}

#sidebar h2 { font-size: 	medium; }
#sidebar h3 { font-size: 	small; }

#sidebar ul {
  padding:			0px;
  margin:			0px;
  list-style:			none;
  padding-bottom:		10px;
}

#sidebar ul, #sidebar li  {
  margin-bottom:		6px;
  font-size:			small;
}

#sidebar hr {
  border-top:			1px solid #aaa;
  border-bottom:		1px solid #ddd;
  color:			#ddd;
  margin-top:			20px !important;
  margin-bottom:		20px !important;
}

input.text {
  border:			1px solid #8e8e8e;
  background-color:		#e5f1f4;
  color:			#444444;
}

input.button {

}

#navbar-secondary li {
  font-size:			medium;
}

#navbar-secondary .active a:link,
#navbar-secondary .active a:visited,
#navbar-secondary .active a:active,
#navbar-secondary .active a,
#navbar-secondary li
{
  color:			#555 !important;
  text-decoration:		none; 
  font-weight:			bold;
}

#details * {
  color:			#444;
}

#details p,
#details td,
#details li {
  font-size:			small;
  color:			#555;
}

#details h1 {
  color:			#7d7d5b;
  font-size:			x-large;
  height:			40px;
/*
 * padding-left:			48px;
*/
  padding-top:			6px;
  vertical-align:		middle;
}

#details h1.user {
  background-image:		url('/static/images/objects/object-user.png');
  background-repeat:		no-repeat;
  margin-bottom:		18px;
}

#details h2, #details table caption, h2.formsection {
  color:			#999;
  font-size:			large;
  font-weight:			normal;

  border-bottom:		1px solid #999;
  margin-bottom:		10px;

  text-align:			left;
  width:			100%;
}

h2.formsection {
  margin-top:			12px;
}

#details h3, table.formtable th {
  font-size: 			small;
  color:			black;
}

table.details {
  margin-bottom:		18px;
  width:			100%;
}

#details table.details th {
  font-size:			small;
  width:			150px;
  padding:			4px 0px;
  padding-right:		8px;
  border-bottom:		1px dotted #ddd;
}

#details table.details th.even { background-color: white; }
#details table.details th.odd { background-color: #eee; }

#details table.details td {
  padding-left:			8px;
  padding-bottom:		3px;
  border-bottom:		1px dotted #ddd;
  width:			60%;
}

#details hr {
  margin-top:			48px;
  margin-bottom:		12px;
  height:			1px;
  border-color:			#bbb;
  border-width:			0pt 0pt 1px;
  padding:			0.5em;
  border-style:			none none dashed;
}

input.submitbutton {
  float:			right;
}

#alertbox {
  width:			100%;
  padding:			6px 0px;
  margin-top:			12px;
  margin-bottom:		18px;
  vertical-align:		middle;

  -moz-border-radius:		6px;
  background-color:		#6995d5;
  color:			white;
}

#alertbox h2 {
  width:			auto;
  padding:			0px 16px;
  float:			left;
  font-size:			medium;
  text-transform:		uppercase;
  color:			white;
  font-weight:			bold;
  border:			none;
}

#alertbox p {
  padding:			0px 0px;
  text-align:			center;
  color:			white;
  width:			auto;
}

td, th {
  text-align:			left;
}

#footer {
  text-align:			center;
  margin-left:			auto;
  margin-right:			auto;
  width:			30%;
  padding:			20px 20px;
}

table.formtable {
  width: 			100%;
}

table.formtable th, table.formtable td {
  vertical-align:		top;
  padding-bottom:		10px;
}

table.formtable th {
  width:			28%;
}

table.formtable td {
}

input.submitbutton, input.searchbutton, #source_searcharea input.searchbutton {
  border:			1px outset #aaa;
  padding: 			2px 1px;
  margin-bottom:		2px;
}

table.formtable td input[type="text"], input#criteria {
  border:			1px inset #dcdcdc;
  font-size:			medium;
  padding:			2px 1px;
/*
  background-color:		#f5faff;
*/
}

table.formtable td select {
  border:			1px inset #dcdcdc;
  font-size:			small;
  padding:			2px 1px;
/*
  background-color:		#f5faff;
*/
}

p.empty-message {
  font-size:			large;
  font-style:			italic;
  color:			#888 !important;
}

div.instructions {
  padding:			2px 6px;
  margin-top:			16px;
  border-top:			1px solid #c0d5f1;
  border-bottom:		1px solid #c0d5f1;
  background-color:		#eef4fd;
}

div#search {
  padding-top:			16px;
  padding-bottom:		24px;
}

ul.checkboxlist li {
  list-style: none;
  margin: 8px 0px;
}

ul.checkboxlist li input {
  background-color: 		yellow;
  height:			1.1em;
  width:			1.2em;
  border:			1px solid red;
}

#inactive {
  background-color:            silver;
}

/*
 *  * TableKit css
 *  
 */

.sortcol {
  cursor: pointer;
  padding-right: 20px !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;
  text-decoration: underline;
}
.sortasc {
  background-image: url(/static/images/up.gif) !important;
}
.sortdesc {
  background-image: url(/static/images/down.gif) !important;
}
